.env
data/
db.json
wpcrm.db
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
bin/
lib/
include/
setuptools*.zip
pip-delete-this-directory.txt
dist/
build/
*.egg-info/
.installed.cfg
*.egg
node_modules/
.DS_Store
